* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 50%;
    margin: auto;
}

.wrapper > header {
    margin-bottom: 20px;
}

#logo-neori {
    width: 170px;
    padding: 10px 30px 0 5px;
    border-right: 1px solid grey;
}

nav > ul > li {
    display: inline-block;
    list-style-type: none;
    margin-top: 15px;
    font-size: 12px;
}

nav a {
    color: grey; 
    text-decoration: none;
}

.container {
    height: 80%;
}

section:first-child {
    background-image: url(img/banner.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

#first-section-text {
    padding: 27% 40% 5% 5%;
    color: white;
}

#first-section-text > p {
    font-size: 12px;
}

section > header > h2 {
    font-size: 30px;
}

section > header > p, .container p {
    color: grey;
    font-size: 12px;
}

section:nth-child(2) {
    height: 400px;
    margin-bottom: 10px;
}

section > header {
    height: 20%;
}

aside {
    width: 25%;
    height: calc(100% - 40px);
    float: left;
}

.article-img > img {
    width: 100%;
}

.article-img {
    height: 40%;
    overflow: hidden;
    margin-bottom: 10px;
}

article {
    width: calc(50% - 40px);
    height: calc(100% - 40px);
    float: left;
    margin: 0 20px 0 20px;
}

aside, article {
    margin-top: 20px;
    margin-bottom: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both
}


section:first-child, .article-img {
    border-radius: 10px;
}

footer {
    height: 100px;
}

footer p {
    text-align: center;
    vertical-align: middle;
}

footer span {
    color: red;
    font-size: 30px;
    vertical-align: middle;
}

